<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p>First Name: <span th:text="${appuser.firstnamePetOwner}"></span></p>
    <p>Last Name: <span th:text="${appuser.lastnamePetOwner}"></span></p>
    <p>Date of Birth: <span th:text="${appuser.dobPetOwner}"></span></p>
    <p>Type of pet: <span th:text="${appuser.typeOfPet}"></span></p>
</div>
</body>
</html>